#signUpPage
{
    display: none;
}
.authLink
{
    cursor: pointer;
    color: blue
}
@media (max-width: 768px) {
    .margin
    {
        margin-top: 10%;
    }
}
@media (min-width: 768px) {
    .margin
    {
        margin-top: 5%;
        padding-left: 35%;
        padding-right: 35%;
    }
}