.custom-file
{
    width: 30%;
}
#dashboard
{
    display: none;
}
.logo
{
    width: 40%;
}
#valid{
    color: brown;
}
#siteUrlDiv
{
    /* display: none; */
}
#submitFile
{
    display: none;
}